---
interface Props {
  title: string;
  imgUrl?: string;
  className?: string;
  width?: number | string;
  height?: number | string;
}

const { title, imgUrl, className } = Astro.props;
---

<a href="/">
  <div class={className}>
    {
      imgUrl && (
        <img
          src={imgUrl}
          alt={`${title} logo`}
          loading="eager"
          decoding="sync"
        />
      )
    }
    <span class="logo">{title}</span>
  </div>
</a>

<style>
  .logo {
    font-weight: 700;
    text-transform: uppercase;
  }
</style>
